.header {
    background-color: #fff;
    text-align: start;
    padding: 20px;
    .logo {
        margin-left: 124px;
    }
}

@media only screen and (max-width: 600px) {
    .header .logo {
        margin-left: 0;
    }
}