.main__title {
    display: block;
    font: normal normal bold 4rem/3.125rem Arial;
    padding: 60px;
    text-transform: uppercase;
}

.container {
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    .main__title {
        font: normal normal bold 27px/25px Arial;
        padding: 30px 25px;
    }
}