.modal {
    &__background {
        width: 100vw;
        height: 100vh;
        background-color: #000000C4;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        z-index: 1;
    }

    &__container {
        width: 65vw;
        height: 65vh;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        padding: 25px;
        justify-content: space-around;
        align-items: center;
    }

    &__image > img {
        height: 490px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 50% 0;
        height: calc(100% - 50px);
        align-items: initial;
        font-size: 1.7rem;
        text-align: initial;
        .top {

            & > * {
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
        
        .main_title {
            font: normal normal bold 2.8125rem/2.8125rem Arial;
            letter-spacing: 0px;
            color: #000000;
            text-transform: uppercase;
        }

        .duration {
            font: normal normal normal 1.5625rem/1.5625rem Arial;
        }

        .description {
            overflow: auto;
            height: 100%;
            max-height: 290px;
            padding-top: 16px;
            font: normal normal normal 1.875rem/1.875rem Georgia;
        }
    }
}

@media only screen and (max-width: 600px) {
    .modal {
        &__container {
            width: 85vw;
            height: 95vh;
            flex-direction: column;
            justify-content: space-between;
        }

        &__image > img {
            height: 340px;
            width: 256px;
        }

        &__body {

            .main_title {
                font: normal normal bold 1.875rem/1.9375rem Arial;
            }

            .duration {
                font-size: 1.25rem;
            }

            .description {
                max-height: 140px;
                font: normal normal normal 1rem/1.063rem Georgia;
            }

            .bottom {
                display: contents;
            }
        }
    }
}