.container {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 40px;
}

.movie {
    &__title {
        height: 85px; // occupy two lines
        padding: 20px 0;
        margin-bottom: 10px;
        text-align: left;
        overflow: hidden;
        font: normal normal normal 1.875rem/1.9375rem Georgia;
        letter-spacing: -0.6px;
        color: #000000;
        text-transform: capitalize;
    }

    &__rating {
        font: normal normal normal 1.5625rem/1.9375rem Arial;
        text-align: start;
        padding-bottom: 16px;
        &.no_rating {
            font: normal normal normal 1.325rem/1.75rem Arial;
            opacity: 0.8;
        }

        .star {
            background-image: url("../assets/star.svg");
            background-repeat: no-repeat;
            background-size: 25px;
            width: 25px;
            height: 25px;
            display: inline-block;
            margin: 0;
            margin-right: 10px;
            background-position-y: 2px;
        }
    }
}

.show_more {
    font-size: 1rem;
    font-weight: 500;
    background: transparent;
    text-align: initial;
    border: 1px solid #000000;
    padding: 10px 16px;
    border-radius: 100px;
    cursor: pointer;
    &::after {
        content: '';
        width: 25px;
        height: 16px;
        display: inline-block;
        position: relative;
        left: 52%;
        margin-top: -4px;
        vertical-align: middle;
        background-image: url("../assets/arrow.svg");
        background-repeat: no-repeat;
        background-position-y: 2px;
    }
}