.movies__container {
    grid-gap: 14px;
    display: flex;
    flex-wrap: wrap;
    &>* {
        flex-basis: 260px;
    }
    padding: 0 140px;
}

.error {
    color: #ff3333ab;
    font-size: 2.5rem;
    font-weight: bold;
}
.loading {
    color: #1372638a;
    font-size: 2rem;
}

