.container {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 40px;
}

.movie {
    &__title {
        height: 85px; // occupy two lines
        padding: 20px 0;
        margin-bottom: 10px;
        text-align: left;
        overflow: hidden;
        font: normal normal normal 1.875rem/1.9375rem Georgia;
        letter-spacing: -0.6px;
        color: #000000;
        text-transform: capitalize;
    }
    
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 144px;
        margin-bottom: 10px;
    }

    .movie__title {
        font: normal normal normal 1.25rem/1.3125rem Georgia;
        padding: 14px 0;
        height: 60px;
    }
}