.container {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-bottom: 40px;
}

.movie {
    &__title {
        height: 85px; // occupy two lines
        padding: 20px 0;
        margin-bottom: 10px;
        text-align: left;
        overflow: hidden;
        font: normal normal normal 1.875rem/1.9375rem Georgia;
        letter-spacing: -0.6px;
        color: #000000;
        text-transform: capitalize;
    }
    
}
